.headerContainer {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px;
  width: 100%;
}
.headerItem {
  margin-right: 5px;
  width: 25%
}
#progressBarHeader {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: initial;
  height: 5px;
}
#progressBarHeaderInfo {
  text-align: center;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  background-color: #6a6b6b;
  border: solid 1px;
  padding: 2px;
}
